<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- description -->
    <meta name='description' content='depdade'>
    <meta property='og:description' content='depdade'>
    <meta name='twitter:description' content='depdade'>

    <meta property='og:site_name' content='depdade'>
    <meta property='og:type' content='website'>

    <!-- image -->
    <!-- <meta property="og:image" content="./image/logo.png"> -->
    <!-- <meta property="og:image:alt" content="./image/logo.png"> -->
    <!-- <meta name="twitter:image" content="./image/logo.png"> -->
    <!-- Minimal -->
    <!-- <link rel='icon' type='image/png' href='./image/logo_o.png'> -->
    <!-- <link rel='icon' sizes='192x192' href='./image/logo_o.png'> -->
    <!-- <link rel='apple-touch-icon' href='./image/logo_o.png'> -->
    <!-- <meta name='msapplication-square310x310logo' content='./image/logo_o.png'> -->

    <title>depdade</title>
    <!-- title -->
    <meta property='og:title' content='depdade'>
    <meta name='twitter:title' content='depdade'>


    <!-- /*-----*-----*-- setup-lib-css --*-----*-----*/ -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" /> -->
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="asset/fontawesome/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="asset/setup.css"> -->

    <!-- /*-----*-----*-- component --*-----*-----*/ -->

    <!-- /*-----*-----*-- edit-style --*-----*-----*/ -->
    <!-- <link rel="stylesheet" href="edit-style/index.css"> -->


    <!-- /*-----*-----*-- important --*-----*-----*/ -->
    <!-- <link rel="stylesheet" href="asset/style.css"> -->

</head>

<body>
    <!-- ----- ----- header ----- ------->
    <div class="header-mobile d-lg-none d-block">
    </div>
    <div class="header">
    </div>


    <!-- footer -->
    <div class="footer-1">

    </div>


    <div class="footer-absolute">

        <b>Copyright 2023 © depdade</b>
    </div>
    <!-- <button class="btn">click</button> -->

</body>

</html>


<!-- /*-----*-----*-- lib-javascript --*-----*-----*/ -->
<!-- <script src="bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script> -->
<!-- /*-----*-----*-- my-script --*-----*-----*/ -->
<!-- <script src="component/slider/script.js"></script> -->
<!-- <script src="asset/function.js"></script> -->

<script>


</script>