<!-- = = = = = Top Bar = = = = = -->
<div class="header">
  <div class="header-contain d-flex justify-content-between">
    <div class="wrap-logo">
      <a href="#" class="login-contact">Liên hệ với chúng tôi</a>
    </div>
    <div class="profile-user relative">

    </div>
  </div>

</div>

<!-- = = = = =  Main = = = = = -->
<div class="body">
  <div class="body-contain d-flex">
    <div class="main">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-6">
            <div class="bg-wrap-form login-form relative">
              <div class="list-row tag-content">
                <div class="title">
                  Đăng nhập
                </div>
                <!-- = = = Login Form = = = -->
                <form id="loginForm" class="wrap-content text-center">
                  <!-- = = = -->
                  <div class="section-input">
                    <label for="in1">Tên đăng nhập</label>
                    <input type="text" name="" id="in1" placeholder="username" required>
                  </div>
                  <!-- = = = -->
                  <div class="section-input">
                    <label for="in2">Mật khẩu</label>
                    <input type="password" name="" id="in2" placeholder="password" required>
                  </div>
                  <!-- = = = -->
                  <div class="section-input">
                    <input type="submit" class="login-btn" value="Đăng nhập">
                  </div>
                </form>

                <!-- = = =  Alert of Submit Event = = = -->
                <div class="section-res">
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>