<br />
<br />
<br />
<div class="form-group ml-3 mr-3">
  <label for="exampleFormControlTextarea1">File CSS custom</label>
  <textarea class="form-control" id="input-css-file" rows="10"><%=dataCss%></textarea>
  <div class="d-flex justify-content-center mt-2">
    <a class="btn btn-success" onclick="handleUploadFile('css')">Save</a>
  </div>
</div>

<div class="form-group ml-3 mr-3">
  <label for="exampleFormControlTextarea1">File JS custom</label>
  <textarea class="form-control" id="input-js-file" rows="10"><%=dataJs%></textarea>
  <div class="d-flex justify-content-center mt-2">
    <a class="btn btn-success" onclick="handleUploadFile('js')">Save</a>
  </div>
</div>

