<h3>admin post  category</h3>
<ul>
    <li>
        <a href="/cms/post-category/id1">post 1</a>
        <a href="/cms/post-category/id2">post 2</a>
        <a href="/cms/post-category/id3">post 3</a>
    </li>
</ul>