<h3>admin product category</h3>
<ul>
    <li>
        <a href="/cms/product-category/id1">product 1</a>
        <a href="/cms/product-category/id2">product 2</a>
        <a href="/cms/product-category/id3">product 3</a>
    </li>
</ul>