<h3>admin product list</h3>
<ul>
    <li>
        <a href="/cms/product/id1">product 1</a>
        <a href="/cms/product/id2">product 2</a>
        <a href="/cms/product/id3">product 3</a>
    </li>
</ul>