<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="wrap-form">
                <div class="filter-btn-list">
                    <ul>
                        <li>
                            <a href="#" class="wrap-arrow my-dropdown-button dropdown-btn-buble fill-btn"
                                dropdown-menu-name="#value7">
                                Trang: trang chủ
                                <img class="arrow-down" src="./cms/images/index/arrow-down-dark.png"
                                    alt="">
                            </a>
                            <div class="dropdown-child-buble wrap-child d-none" id="value7">
                                <ul>
                                    <li><a href="#11">Trang chủ</a></li>
                                    <li><a href="#11">Giới thiệu</a></li>
                                    <li><a href="#12">Sản phẩm</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="wrap-arrow my-dropdown-button dropdown-btn-buble fill-btn"
                                dropdown-menu-name="#value8">
                                Block: thông tin cơ bản
                                <img class="arrow-down" src="./cms/images/index/arrow-down-dark.png"
                                    alt="">
                            </a>
                            <div class="dropdown-child-buble wrap-child d-none" id="value8">
                                <ul>
                                    <li><a href="#3">địa chỉ</a></li>
                                    <li><a href="#4">liên hệ</a></li>
                                    <li><a href="#5">...</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="bg-wrap-form">
                <div class="list-row tag-content">
                    <div class="wrap-content d-flex justify-content-between align-items-center">
                        <div class="section-content">
                            <label for="inp0">tiêu đề abc${name}</label>
                            <input type="text" name="" id="inp0" class="input-outline">
                        </div>
                        <a href="#" class="wrap-arrow my-dropdown-button outline-btn" dropdown-menu-name="#sec1">
                            Mở rộng
                            <img class="arrow-down" src="./cms/images/index/arrow-down-dark.png" alt="">
                        </a>
                    </div>
                    <div class="extension d-none" id="sec1">
                        <div class="item">
                            <label for="inp1">CSS Class</label>
                            <input type="text" name="" id="inp1" class="input-outline">
                        </div>
                        <div class="item">
                            <label for="inp2">Link</label>
                            <input type="text" name="" id="inp2" class="input-outline">
                        </div>
                        <div class="item">
                            <label for="inp3">Target</label>
                            <input type="text" name="" id="inp3" class="input-outline">
                        </div>
                        <div class="item checkbox-item">
                            <label for="inp4">Không hiển thị</label>
                            <input type="checkbox" name="inp4" id="">
                        </div>
                    </div>
                </div>
            </div>


            <div class="bg-wrap-form">
                <div class="list-row tag-content">
                    <div class="wrap-content d-flex justify-content-between align-items-center">
                        <div class="section-content">
                            <label for="inpa0">tiêu đề abcz${name}</label>
                            <input type="text" name="" id="inpa0" class="input-outline">
                        </div>
                        <a href="#" class="wrap-arrow my-dropdown-button outline-btn" dropdown-menu-name="#sec2">
                            Mở rộng
                            <img class="arrow-down" src="./cms/images/index/arrow-down-dark.png" alt="">
                        </a>
                    </div>
                    <div class="extension d-none" id="sec2">
                        <div class="item">
                            <label for="inpa1">CSS Class</label>
                            <input type="text" name="" id="inpa1" class="input-outline">
                        </div>
                        <div class="item">
                            <label for="inpa2">Link</label>
                            <input type="text" name="" id="inpa2" class="input-outline">
                        </div>
                        <div class="item">
                            <label for="inpa3">Target</label>
                            <input type="text" name="" id="inpa3" class="input-outline">
                        </div>
                        <div class="item checkbox-item">
                            <label for="inpa4">Không hiển thị</label>
                            <input type="checkbox" name="inpa4" id="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>