.body-contain{
    background: var(--bg-light-1);
    /* background: red; */
    height: calc(100vh - 35px);
    /* overflow: hidden; */
}
.sidebar{
    background: var(--bg-dark-1);
    height: calc(100vh - 35px);
    width: 200px;
    border-top: 1px solid rgba(255,255,255, 0.3);
    overflow-y: scroll;
    color: var(--text-light);
}
.sidebar-min{
    width: 80px;
}

.sidebar .line{
    display: block;
    padding: 5px 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    transition: background 0.4s, color 0.4s;
    display: flex;
    justify-content: space-between;
}
.line a{
    color: var(--text-light);
}
.line a:first-child{
    /* color: red; */
    width: 100%;
}
.line a:first-child:hover{
    text-decoration: underline;
}
.active>a:first-child{
    text-decoration: underline;
}
.sidebar>ul>li>a{
    display: block;
    color: var(--text-light);
    font-size: 16px;
    transition: background 0.4s, color 0.4s;
}
.sidebar>ul>.active>.line>a{
    text-decoration: underline;
}
.sidebar ul>li>a:hover{
    background: var(--bg-light-2);
}
.wrap-child>ul>li>a{
    padding: 5px 10px 5px 20px;
}
.wrap-child>ul>li>a{
    display: block;
    color: var(--text-light);
    font-size: 15px;
    transition: background 0.4s, color 0.4s;
}
.wrap-child>ul>li>a::before{
    content: "+ ";
}
.arrow-down{
    width: 16px;
    object-fit: contain;
}
.wrap-arrow{
    /* padding: 5px 10px; */
    padding: 0px 10px;
}
.wrap-arrow:hover{
    background: var(--bg-light-2);
}
.main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.status-bar{
    padding: 3px 10px;
    /* background: var(--bg-dark-1); */
    display: block;
    width: 100%;
}
.status-bar>ul{
    display: block;
    list-style-type: none;
    display: flex;
    margin: 0;
}
.status-bar>ul>li{
    display: block;
    margin-right: 3px;
}
.status-bar>ul>li>a{
    color: var(--text-dark);
    font-size: 15px;
    /* color: var(--text-light); */
}
.status-bar>ul>li>a::after{
    content: "/";
}
.status-bar>ul>li>a:hover{
    text-decoration: underline;
}